html,
body,
p,
pre,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul,
ol,
menu {
  margin: 0;
}

input,
option {
  padding: 0;
}

input, textarea {
  box-shadow: none;
  -webkit-appearance: none;
}

input {
  border: 0;
}

ul,
ol,
menu {
  padding-left: 0;
  list-style: none;
}

ns,
a:hover {
  text-decoration: none;
}

a, ns {
  cursor: pointer;
}

i,
cite,
dfn,
em {
  font-style: normal;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
}

a {
  -webkit-touch-callout: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

cite, em, i {
  font-style: normal;
}

input[type="date"] {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset,
img {
  border: 0;
}

body, html {
  width: 100%;
  height: 100%  !important;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 0.4rem;
  line-height: 1.5;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  background: #ebebeb;
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 4rem;
  max-width: 10rem;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.f-clear:before, .f-clear:after {
  clear: both;
  content: '';
  display: table;
}

.display-in {
  display: inline;
}

.display-inb {
  display: inline-block;
}

.display-b {
  display: block;
}

.display-none {
  display: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1, .h1 {
  font-size: 0.48rem;
}

h2, .h2 {
  font-size: 0.4rem;
}

h3, .h3 {
  font-size: 0.4rem;
}

h4, .h4 {
  font-size: 0.32rem;
}

h5, .h5 {
  font-size: 0.26667rem;
}

h6, .h6 {
  font-size: 0.24rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.text-c {
  text-align: center;
}

.font-primary {
  color: #4782F6;
}

.font-weak {
  color: #aaa;
}

.font-danger {
  color: #ff3a31;
}

.font-warning {
  color: #ff7304;
}

.font-success {
  color: #87d37b;
}

.mar-base {
  margin: 0.2rem;
}

.mar-m {
  margin: 0.26667rem;
}

.mar-md {
  margin: 0.32rem;
}

.mar-lg {
  margin: 0.37333rem;
}

.mar-lgd {
  margin: 0.4rem;
}

.mar-sm {
  margin: 0.13333rem;
}

.mar-smd {
  margin: 0.06667rem;
}

.mar-l-base {
  margin-left: 0.2rem;
}

.mar-l-m {
  margin-left: 0.26667rem;
}

.mar-l-md {
  margin-left: 0.32rem;
}

.mar-l-lg {
  margin-left: 0.37333rem;
}

.mar-l-lgd {
  margin-left: 0.37333rem;
}

.mar-l-sm {
  margin-left: 0.13333rem;
}

.mar-l-smd {
  margin-left: 0.06667rem;
}

.mar-r-base {
  margin-right: 0.2rem;
}

.mar-r-m {
  margin-right: 0.26667rem;
}

.mar-r-md {
  margin-right: 0.32rem;
}

.mar-r-lg {
  margin-right: 0.37333rem;
}

.mar-r-lgd {
  margin-right: 0.4rem;
}

.mar-r-sm {
  margin-right: 0.13333rem;
}

.mar-r-smd {
  margin-right: 0.06667rem;
}

.mar-t-base {
  margin-top: 0.2rem;
}

.mar-t-m {
  margin-top: 0.26667rem;
}

.mar-t-md {
  margin-top: 0.32rem;
}

.mar-t-lg {
  margin-top: 0.37333rem;
}

.mar-t-lgd {
  margin-top: 0.4rem;
}

.mar-t-sm {
  margin-top: 0.13333rem;
}

.mar-t-smd {
  margin-top: 0.06667rem;
}

.mar-b-base {
  margin-bottom: 0.2rem;
}

.mar-b-m {
  margin-bottom: 0.26667rem;
}

.mar-b-md {
  margin-bottom: 0.32rem;
}

.mar-b-lg {
  margin-bottom: 0.37333rem;
}

.mar-b-lgd {
  margin-bottom: 0.4rem;
}

.mar-b-sm {
  margin-bottom: 0.13333rem;
}

.mar-b-smd {
  margin-bottom: 0.06667rem;
}

.pad-base {
  padding: 0.2rem;
}

.pad-m {
  padding: 0.26667rem;
}

.pad-md {
  padding: 0.32rem;
}

.pad-lg {
  padding: 0.37333rem;
}

.pad-lgd {
  padding: 0.4rem;
}

.pad-sm {
  padding: 0.13333rem;
}

.pad-smd {
  padding: 0.06667rem;
}

.pad-l-base {
  margin: 0.2rem;
}

.pad-l-m {
  padding-left: 0.26667rem;
}

.pad-l-md {
  padding-left: 0.32rem;
}

.pad-l-lg {
  padding-left: 0.37333rem;
}

.pad-l-lgd {
  padding-left: 0.37333rem;
}

.pad-l-sm {
  padding-left: 0.13333rem;
}

.pad-l-smd {
  padding-left: 0.06667rem;
}

.pad-r-base {
  padding-right: 0.2rem;
}

.pad-r-m {
  padding-right: 0.26667rem;
}

.pad-r-md {
  padding-right: 0.32rem;
}

.pad-r-lg {
  padding-right: 0.37333rem;
}

.pad-r-lgd {
  padding-right: 0.4rem;
}

.pad-r-sm {
  padding-right: 0.13333rem;
}

.pad-r-smd {
  padding-right: 0.06667rem;
}

.pad-t-base {
  padding-top: 0.2rem;
}

.pad-t-m {
  padding-top: 0.26667rem;
}

.pad-t-md {
  padding-top: 0.32rem;
}

.pad-t-lg {
  padding-top: 0.37333rem;
}

.pad-t-lgd {
  padding-top: 0.4rem;
}

.pad-t-sm {
  padding-top: 0.13333rem;
}

.pad-t-smd {
  padding-top: 0.06667rem;
}

.pad-b-base {
  padding-bottom: 0.2rem;
}

.pad-b-m {
  padding-bottom: 0.26667rem;
}

.pad-b-md {
  padding-bottom: 0.32rem;
}

.pad-b-lg {
  padding-bottom: 0.37333rem;
}

.pad-b-lgd {
  padding-bottom: 0.4rem;
}

.pad-b-sm {
  padding-bottom: 0.13333rem;
}

.pad-b-smd {
  padding-bottom: 0.06667rem;
}

.u-btn {
  display: inline-block;
  width: 1.6rem;
  height: 0.66667rem;
  font-size: 0.37333rem;
  text-align: center;
  color: #aaa;
  line-height: 0.66667rem;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 0.13333rem;
  margin-left: 0.06667rem;
  margin-right: 0.06667rem;
}

.u-btn-primary {
  color: #fff;
  background: #4782F6;
  border-color: #4782F6;
}
.u-btn-primary:hover {
  background: #2f71f5;
  border-color: #2f71f5;
}

.u-btn-waring {
  color: #fff;
  background: #ff7304;
  border-color: #ff7304;
}
.u-btn-waring:hover {
  background: #e56a05;
  border-color: #e56a05;
}

.u-btn-danger {
  color: #fff;
  background: #ff3a31;
  border-color: #ff3a31;
}
.u-btn-danger:hover {
  background: #e5352c;
  border-color: #e5352c;
}

.u-btn-success {
  color: #fff;
  background: #87d37b;
  border-color: #87d37b;
}
.u-btn-success:hover {
  background: #76ba6c;
  border-color: #76ba6c;
}

.u-btn-lint {
  color: #fff;
  background: #ff6743;
  border-color: #ff6743;
}
.u-btn-lint:hover {
  background: #e55b3c;
  border-color: #e55b3c;
}

.u-btn-disable {
  color: #fff;
  background: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
.u-btn-disable:hover {
  background: #ccc;
  border-color: #ccc;
}

.u-btn-sm {
  width: 1.2rem;
  height: 0.58667rem;
}

.u-btn-smd {
  width: 0.8rem;
  height: 0.53333rem;
}

.u-btn-m {
  width: 1.73333rem;
  height: 0.74667rem;
}

.u-btn-md {
  width: 2rem;
  height: 0.8rem;
}

.u-btn-lg {
  width: 2.53333rem;
  height: 2.53333rem;
}

.u-btn-lgd {
  width: 2.8rem;
  height: 0.93333rem;
}

.u-input {
  padding: 0 0.37333rem;
  border: 0;
  border-radius: 0.13333rem;
}

.u-input-search {
  height: 0.66667rem;
  color: #aaa;
  line-height: 0.66667rem;
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
}
.u-input-search:focus {
  background: #fff;
  border: 1px solid #4782F6;
}

.layui-m-layersection .layui-m-layer-msg .layui-m-layercont {
  padding: 0.4rem 0.4rem;
  font-size: 0.48rem;
}

body .layui-m-layercont {
  line-height: 1.5;
}

body .layui-m-layer .layui-m-layermain .layui-m-layer-msg {
  bottom: inherit;
}
