.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  width: 100%;
  background: #fff;
}
.m-cover-card .cover-card {
  position: relative;
  width: 2.4rem;
  height: 3.2rem;
  overflow: hidden;
}
.m-cover-card .cover-card img {
  height: inherit;
}
.m-cover-card .cover-card .info-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 0.66667rem;
  background: #000;
  opacity: .4;
}
.m-cover-card .cover-card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0.66667rem;
  line-height: 0.66667rem;
  color: #fff;
}
.m-cover-card .cover-card h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.m-cover-card .h2 {
  margin-top: -0.10667rem;
  margin-bottom: 0.33333rem;
}
.m-cover-card .card-info .h4 + .h4 {
  margin-top: 0.2rem;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.dialog-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1070;
  width: 100%;
  height: 100%;
}
.dialog-box .dialog-mask {
  position: relative;
  z-index: 0;
  height: 100%;
  background: #25272c;
  opacity: .2;
}
.dialog-box .dialog-body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-search .u-input-search {
  margin-right: 0.21333rem;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-null-page {
  margin-top: 1.73333rem;
}
.m-null-page .null-img {
  margin: 0 auto;
  display: block;
  width: 3.73333rem;
  height: 3.33333rem;
  background: url("../../images/null-page.png") no-repeat center;
  background-size: cover;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.wrapper {
  position: absolute;
  z-index: 1;
  top: 1.6rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.scroller {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}

.scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.6rem;
  width: 100%;
  text-align: left;
}

.scroller li {
  padding: 0 0.4rem;
}

.pullUpLabel {
  display: inline-block;
  vertical-align: middle;
}

[data-class="pullUp"] {
  position: relative;
  top: -1.06667rem;
  padding: 0.06667rem 0.13333rem;
  font-size: 0.32rem;
  color: #aaa;
  text-align: center;
}

[data-class="pullUp"] .pullUpIcon {
  display: inline-block;
  vertical-align: middle;
  width: 0.53333rem;
  height: 0.53333rem;
  background: url(../../images/pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size: 0.53333rem 1.06667rem;
  background-size: 0.53333rem 1.06667rem;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

[data-class="pullUp"] .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

[data-class="pullUp"].flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

[data-class="pullUp"].loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-screen-label {
  overflow: hidden;
}
.m-screen-label .label {
  height: 1.73333rem;
  line-height: 1.73333rem;
  border-bottom: 1px solid #edeff0;
}
.m-screen-label .label .u-btn {
  margin-left: 0.24rem;
  margin-right: 0.24rem;
  height: 0.8rem;
  line-height: 0.86667rem;
  border-radius: 0.4rem;
}
.m-screen-label .label .u-btn:hover, .m-screen-label .label .u-btn.on {
  color: #4782F6;
  background: #fff;
  border-color: #4782F6;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.catalog-content {
  background: #fff;
}
.catalog-content .unit {
  padding: 0.53333rem 0;
  padding-bottom: 1.06667rem;
  height: 1rem;
  overflow: hidden;
}
.catalog-content .unit ul {
  padding-bottom: 0.4rem;
  height: 1.33333rem;
  overflow: hidden;
  margin-left: 0.4rem;
}
.catalog-content .unit ul.on {
  padding-bottom: 0;
  margin-bottom: -0.06667rem;
  height: auto;
}
.catalog-content .unit > li > p .unit-icon {
  width: 0.4rem;
  height: 0.4rem;
  background: url("../../images/close.png") no-repeat center;
  background-size: cover;
}
.catalog-content .unit > li > p .unit-icon.on {
  background: url("../../images/open.png") no-repeat center;
  background-size: cover;
}
.catalog-content .unit .last-child {
  padding: 0;
  height: auto;
}
.catalog-content .unit .last-child .unit-icon {
  margin-top: -0.10667rem;
  width: 0.26667rem;
  height: 0.26667rem;
}
.catalog-content .unit.on {
  padding-bottom: 0.13333rem;
  height: auto;
}
.catalog-content p {
  padding-right: 2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.catalog-content p.font-weak {
  padding-left: 0.66667rem;
  padding-bottom: 0.4rem;
}
.catalog-content .unit-icon {
  display: inline-block;
  margin-right: 0.21333rem;
  margin-top: -0.04rem;
  vertical-align: middle;
  width: 0.26667rem;
  height: 0.26667rem;
  background: url("../../images/close-1.png") no-repeat center;
  background-size: cover;
}
.catalog-content .unit-icon.on {
  background: url("../../images/open-1.png") no-repeat center;
  background-size: cover;
}
.catalog-content .last-child {
  position: relative;
  padding: 0.53333rem 0.4rem;
  padding-bottom: 0.4rem;
  height: auto;
}
.catalog-content .last-child li {
  position: relative;
}
.catalog-content .last-child .unit-link {
  position: absolute;
  right: 0;
  top: 35%;
}
.catalog-content .last-child .unit-icon {
  width: 0.4rem;
  height: 0.4rem;
  background: none;
  background: #4782F6;
  border-radius: 50%;
}
.catalog-content .last-child .icon-pen {
  position: absolute;
  right: 0;
  top: 35%;
  width: 0.58667rem;
  height: 0.58667rem;
  background: url("../../images/pen.png") no-repeat center;
  background-size: cover;
}
.catalog-content .last-child .tips {
  padding: 0.06667rem 0.2rem;
  color: #fff;
  background: #ff7304;
  border-radius: 0.26667rem;
}
.catalog-content > ul + ul {
  border-top: 1px solid #edeff0;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.m-cover-card {
  display: table;
}

.m-cover-card .cover-card, .m-cover-card .card-info {
  vertical-align: top;
}

.exercise {
  position: relative;
}
.exercise .m-search {
  display: table;
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  background: #fff;
  border-bottom: 1px solid #aaa;
}
.exercise .m-search .u-input-search {
  display: table-cell;
  width: 5.13333rem;
  padding-right: 1.53333rem;
}
.exercise .m-search .search-icon {
  width: 0.58667rem;
  height: 0.58667rem;
  background: url("../../images/search.png") center no-repeat;
  background-size: cover;
}
.exercise .m-search .search-info {
  display: table-cell;
}
.exercise .m-search .search-info span {
  vertical-align: middle;
}
.exercise .m-search form {
  position: relative;
}
.exercise .m-search .u-btn {
  position: absolute;
  top: 0;
  right: 0.21333rem;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-top-right-radius: 0.13333rem;
  border-bottom-right-radius: 0.13333rem;
  height: 0.66667rem;
  line-height: 0.73333rem;
  background: #aaa;
  color: #fff;
}
.exercise .m-search .u-btn.u-btn-primary {
  background: #4782F6;
  border-color: #4782F6;
}
.exercise .scroller .list-card {
  background: #fff;
}
.exercise .scroller .list-card + .list-card {
  margin-top: 0.26667rem;
}
.exercise .m-cover-card {
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
}
.exercise .m-cover-card .h2 {
  margin-bottom: 0.16rem;
  height: 0.53333rem;
}
.exercise .m-cover-card .h4 + .h4 {
  margin-top: 0.05333rem;
}
.exercise .m-cover-card .h1 {
  margin-top: 0.26667rem;
}
.exercise .m-cover-card .cover-card {
  width: 2rem;
  height: 2.66667rem;
}
.exercise .m-cover-card .card-info {
  width: 6.69333rem;
}
.dialog-label {
  margin-right: -1px;
}
.dialog-label .label-title {
  height: 1.17333rem;
  line-height: 1.17333rem;
  background: #ebebeb;
  width: 50%;
}
.dialog-label .label-title.on {
  background: #fff;
}
.dialog-label .bars-btn {
  height: 1.30667rem;
  line-height: 1.30667rem;
}
.dialog-label .bars-btn .reset {
  padding-right: 1.84rem;
  margin-right: 1.84rem;
  border-right: 1px solid #aaa;
}
.dialog-label .bars-btn .reset:hover {
  color: #4782F6;
}
.dialog-label .bars-btn a {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
}
.exercise.wrap {
  height: 100%;
  overflow: hidden;
}
